*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face{
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Medium.ttf');
}

@font-face{
  font-family: 'Raleway';
  src: url('./fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

ul li a {
  color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

body {
  font-family: 'Raleway';
}

/* <Navbar> */
.navbar--main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-family: 'Roboto';
}

.logo {
  height: 3.5rem;
}

.nav--links--main ul {
  display: flex;
  gap: 1rem;
}

.link{
  display: flex;
  align-items: center;
  padding: .8rem 1.3rem;
  transition: all ease-in-out .1s;
}

.nav--login:hover {
  border: 0;
  border-radius: .6rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.link:hover {
  color: #ff5403;
}

.nav--login {
  position: relative;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.nav--userLogo {
  height: .9rem;
}

.nav--login--hidden {
  position: absolute;
  visibility: hidden;

  /* z-index: 1; */
  right: 0;
  bottom: -8.5rem;
  background: #fff;
  width: 15rem;
  padding: 1rem;
  border-radius: .6rem;
}

.nav--login--user,
.nav--login--vendor {
  padding: 1rem 2rem;
}

.nav--login--user:hover,
.nav--login--vendor:hover {
  background: #fde8d6;
  border-radius: .2rem;
}

.nav--login:hover > .nav--login--hidden {
  visibility: visible;
}

/* </Navbar> */

/* <Hero> */

.hero--main {
  background: linear-gradient(to bottom, #ffbf03, #ffaa00, #ff9400, #fd7d00, #fa6402);
  display: flex;
  justify-content: space-between;
  padding: 5rem 0 0 0;
  font-family: 'Raleway';
  font-weight: 600;
}

.hero--locator {
  padding: 4rem 0 0 5rem;
  width: 65%;
}

.hero--title {
  font-size: 5rem;
  font-weight: 700;
  color: #fff;
  padding-bottom: .3rem;
}

.hero--text {
  font-size: 1.2rem;
  padding-left: .3rem;
  color: #504f4f;
}

.location--container {
  width: 90%;
  margin-top: 4rem;
  background: #fff;
  border: none;
  border-radius: .8rem;
  
  color: #504f4f;
}

.hangout--category {
  display: flex;
  gap: 2rem;
  padding: 1.2rem 1.2rem 1rem 1.2rem;
  border-bottom: .2rem solid #f5f5f5;
}

.hangout--category li{
  padding: .7rem 1rem;
  transition: all ease-in-out .2s;
  cursor: pointer;
}

.hangout--category li:hover {
  background: #fdeadf;
  padding: .7rem 1rem;
  border-radius: .6rem;
  color: #ffae00;
  font-weight: 700;
}

.hero--inputbar {
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.search--location {
  display: flex;
  align-items: center;
  width: 60%;
  gap: .5rem;
  padding: .6rem 1rem;
  background: #f5f5f5;
  border-radius: .6rem;
}

.red--location-icon {
  height: 1.5rem;
}

.search--location input {
  width: 100%;
  border: none;
  outline: none;
  height: 1.5rem;
  background: #f5f5f5;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Raleway';
  letter-spacing: .05rem;
  color: #9e9e9e;
  padding: .2rem 0 0 0;
}

.search--button {
  width: 40%;
  background: #f90716;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  color: #fff;
  border: none;
  border-radius: .6rem;
  outline: none;
  padding: 1.2rem 0;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Raleway';
  transition: all ease-in-out .2s;
  cursor: pointer;
}

.search--button:hover {
  background: #ff5403;
}

.hero--image--container {
  width: 35%;
}

.hero--image {
  width: 100%;
}

/* GUIDE STYLING */

.guide--header {
  text-align: center;
  padding: 4rem 0 2rem 0;
  font-size: 2.5rem;
  font-weight: 800;
  color: #f17228;
}

.steps {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.step--cards {
  width: 25%;
  margin: 3rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.step--icons {
  height: 4rem;
}

.step--description {
  padding: 2rem 0 0 0;
  width: 80%;
  margin: 0 auto;
}

.step--description p {
  font-weight: 500;
  font-size: .98rem;
  padding-top: .5rem;
  color: #9e9e9e;
}

/* END OF GUIDE STYLING */

/* CATEGORY STYLING */

.category--main {
  width: 90%;
  margin: 0 auto 5rem auto;
}

.category--title {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  margin-top: 4rem;
}

.category--flex {
  display: flex;
  /* gap: 1rem; */
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3rem 0;
}

.category--card {
  text-align: center;
}

.category--image {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  padding-bottom: .5rem;
}

.btn {
  background: #f90716;
  border: none;
  border-radius: .6rem;
  outline: none;
  transition: all ease-in-out .2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: 1rem 2.5rem;
  font-weight: 700;
  font-family: 'Raleway';
  font-size: .9rem;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
}

.rightArrow {
  height: .8rem;
}

.btn:hover {
  background: #ff5403;
}

/* END OF CATEGORY STYLING */

/* INSTALL APP SECTION */

.xamp {
  height: 39rem;
  background-color: #ff9c00;
}

.vector {
  width: 100%;
}

.vector--main {
  position: relative;
  /* background-image: url("../public/Bg-curve.svg"); */
}

.vector--absolute {
  display: flex;
  /* width: 90%; */
  /* margin: 0 auto; */
  position: absolute;
  top: 5rem;
  left: 22rem;
  right: 0;
  gap: 6rem;
}

.phone {
  height: 30rem;
}

.install--options {
  width: 50%;
}

.install--header {
  font-size: 4rem;
  color: #ff9701;
}

.install--text {
  font-size: 1.2rem;
  width: 60%;
  font-weight: 500;
  color: #918c88;
  line-height: 1.7rem;
  margin: 1rem 0 2rem 0;
}

.install-btn--flex {
  display: flex;
  gap: .8rem;
}

.install--btn {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .5rem .7rem;
  font-family: 'Raleway';
  border: none;
  outline: none;
  border-radius: .3rem;
  box-shadow: 0 .2rem .4rem #fed680;
  cursor: pointer;
}

.play--icon {
  height: 2rem;
}

.btn--text1 {
  font-size: .7rem;
  font-weight: 700;
  color: #504f4f;
}

.btn--text2 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
}

/* END OF INSTALL STYLING */

/* REVIEWS STYLING */

.reviews--main {
  width: 90%;
  margin: 0 auto;
}

.reviews--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0 0 0;
}

.reviews--top h3 {
  font-size: 2.5rem;
  font-weight: 700;
}

.reviews--header {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: .85rem;
  font-weight: 700;
  width: 5rem;
  color: #ffb30e;
}

.reviews--header img {
  height: .7rem;
}

.review--card {
  display: flex;
  width: 90%;
  height: 25rem;
  margin: 5rem auto;
  border-radius: .8rem;
  box-shadow: 0 0 .4rem #9e9e9e;
}

.review--card--reverse {
  display: flex;
  flex-direction: row-reverse;
  width: 90%;
  margin: 2rem auto;
  border-radius: .8rem;
  box-shadow: 0 0 .4rem #9e9e9e;
}

.review--left {
  width: 40%;
  padding: 3rem 3rem;
}

.review--title {
  font-size: 2.2rem;
  width: 80%;
  /* padding-bottom: 1rem; */
}

.reviewer {
  font-size: 2.2rem;
  color: #ffb30e;
  padding-bottom: 1.5rem;
}

.review--description {
  font-size: .9rem;
  font-weight: 600;
  color: #918c88;
  width: 80%;
}

.review--left .btn {
  margin-top: 3rem;
  width: 100%;
}

.review--right {
  width: 60%;
}

.review--image {
  width: 100%;
  height: 100%;
  border-radius: .8rem;
}

.review--image--reverse {
  width: 100%;
  height: 100%;
  border-radius: .8rem;
}

/* END OF REVIEWS STYLING */

.hangout--main {
  position: relative;
  width: 100%;
}

.hangout--image-left {
  position: absolute;
  height: 20rem;
}

.hangout--image-right {
  height: 20rem;
}

.hangout--image-left img {
  width: 100%;
  height: 100%;
}

.hangout--image-right img{
  width: 100%;
  height: 100%;
}

.hangout--CTA {
  position: absolute;
  top: 30%;
  bottom: 30%;
  right: 0;
  left: 0;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.CTA--title {
  width: 50%;
  margin: 0 auto;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

/* Footer Styling */

.footer {
  background: #000;
  color: #fff;
}

.footer--top,
.footer--bottom {
  width: 80%;
  margin: 0 auto;
  border-bottom: .2rem solid #424242;
  padding: 5rem 0 3rem 0;
}

.top--cities {
  padding: 1rem 0 2rem 0;
  font-size: 1.3rem;
}

.cities {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.city--list li,
.footer--links li {
  padding-bottom: .6rem;
  cursor: pointer;
  font-size: .9rem;
  font-weight: 600;
  color: #f5f5f5;
}

.bottom--container {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
}

.footer--options {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  /* width: 70%; */
}

.footer--title,
.contact--title {
  margin-bottom: 2rem;
  font-size: 1rem;
}

.social {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.8rem;
}

.offers {
  margin-bottom: 1.5rem;
  color: #bbbbbb;
  font-size: .95rem;
  font-weight: 600;
}

.mail-in {
  display: flex;
  gap: .6rem;
}

.form--input {
  display: flex;
  align-items: center;
  gap: .5rem;
  background: #424242;
  padding: .6rem;
  border-radius: .3rem;
}

.form--input input {
  background: transparent;
  border: none;
  outline: none;
  color: #bbbbbb;
  font-weight: 600;
  font-family: 'Raleway';
  font-size: .9rem;
  /* height: 1.8rem; */
  padding: .2rem 0 ;
}

.envelope {
  height: .9rem;
}

.mail-in--button {
  background: #ff9700;
  padding: 0 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: .3rem;
  color: #f5f5f5;
  font-weight: 600;
  font-size: .9rem;
  font-family: 'Raleway';
  transition: all ease-in-out .3s;
}

.mail-in--button:hover {
  background: #ff5403;
}

.copyright {
  text-align: center;
  font-size: .9rem;
  padding: 1rem 0 6rem 0;
}

.copyright--bold {
  font-weight: 600;
}

/* End of footer styling */