*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face{
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Medium.ttf');
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

body {
  font-family: 'Roboto';
}

/* <Navbar> */
.navbar--main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  height: 3.5rem;
}

.nav--links--main ul {
  display: flex;
  gap: 1rem;
}

.link{
  display: flex;
  align-items: center;
  padding: .8rem 1.3rem;
  transition: all ease-in-out .1s;
}

.nav--login:hover {
  border: 0;
  border-radius: .6rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.link:hover {
  color: #ff5403;
}

.nav--login {
  position: relative;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.nav--userLogo {
  height: .9rem;
}

.nav--login--hidden {
  position: absolute;
  transition: all 0s ease 1s; /*delay 1s*/
  visibility: hidden;

  /* z-index: 1; */
  right: 0;
  bottom: -10rem;
  background: #fff;
  width: 15rem;
  padding: 1rem;
  border-radius: .6rem;
}

.nav--login--user,
.nav--login--vendor {
  padding: 1rem 2rem;
}

.nav--login--user:hover,
.nav--login--vendor:hover {
  background: #fde8d6;
  border-radius: .2rem;
}

.nav--login:hover > .nav--login--hidden {
  visibility: visible;
  transition-delay: 0s;
}

/* </Navbar> */

/* <Hero> */

.hero--main {
  background: linear-gradient(to bottom, #ffbf03, #ffaa00, #ff9400, #fd7d00, #fa6402);
  /* height: 20rem; */
}